<!DOCTYPE html>
<html>
<head>
    <title>Lista de Visitas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registrar visitas</title>
    <link rel="icon" href="{% static 'img/logo-brigada-militar.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/register_visit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/index.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{% static 'assets/bootstrap.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMgE8AMbr6ZivZp+AzBuJg7STl5ow5pXkk+1PiD" crossorigin="anonymous">
</head>
<body>
<header class="d-flex justify-content-lg-around h-auto">
    <div class="h-75 w-100 d-flex justify-content-center justify-content-md-center justify-content-sm-center align-items-center flex-md-wrap flex-sm-wrap flex-wrap flex-lg-nowrap text-md-center text-center text-lg-start text-sm-center ps-md-5 ps-sm-5">
        <div style="width: 8%; height: 80%" class="col-md-12 col-sm-12 col-12">
            <img class="h-100 w-100" src="{% static 'img/logo-brigada-militar.png' %}" alt="Logo Brigada Militar">
        </div>
        <div class="titulo-brigada-militar col-md-12 h-50 d-flex justify-content-center flex-column col-sm-12 col-12 p-lg-3">
            <span>BRIGADA MILITAR</span>
        </div>
    </div>
    <div class="buscar-servico" style="width: 30%">
        <a style="cursor:pointer;text-decoration:none" href="{% url 'login' %}">
            <span class="input-group-text bg-transparent border-0 d-flex flex-column" style="background-color: #f5f5f4df; border: none;">
                <img src="{% static 'img/logout-icon.png' %}" alt="Buscar" style="width: 40px; height:35px;">
                <span class="text-light fw-bold">Logout</span>
            </span>
        </a>
    </div>
</header>
<nav class="navbar navbar-expand-lg w-100" style="background-color: #d9d9d9">
    <div class="container-fluid">
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static 'img/bars-solid.svg' %}" alt="Menu" class="navbar-toggler-icon">
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav accordion justify-content-evenly w-100">
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'register_protective_measure' %}">CADASTRAR MEDIDA PROTETIVA</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link link-atual" href="{% url 'register_visit' %}">REGISTRAR VISITA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'register_person' %}">CADASTRAR PESSOA E DEFINIR ROTA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'map_direction' %}">DEFINIR ROTA</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container">
        <h1>Lista de Visitas</h1>
        {% if visitas %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Número do Processo</th>
                        <th>Nome da Vítima</th>
                        <th>Nome do Policial</th>
                        <th>Data da Visita</th>
                        <th>Hora de Início</th>
                        <th>Hora de Fim</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visita in visitas %}
                    <tr>
                        <td>{{ visita.id }}</td>
                        <td>{{ visita.mp.numProcesso }}</td>
                        <td>{{ visita.mp.vitima.nome }}</td>
                        <td>{{ visita.policial.nome }}</td>
                        <td>{{ visita.dataFormatada }}</td>
                        <td>{{ visita.horaInicioFormatada }}</td>
                        <td>{{ visita.horaFimFormatada }}</td>
                        <td>{{ visita.status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhuma visita encontrada.</p>
        {% endif %}
    </div>
    <div class="buttons mb-3 d-flex justify-content-center col-12 p-5">
        <!-- <button type="submit" class="btn btn-warning border-1 border-dark shadow-sm fw-bold col-lg-4 col-md-5 col-sm-6 me-md-4 me-sm-3">ENVIAR</button>
        <a href="{% url 'navigation_menu' %}" class="btn border-1 border-dark shadow-sm fw-bold col-lg-4 col-md-5 col-sm-6">CANCELAR</a> -->
        <a class="list_visit" href="{% url 'register_visit' %}">retonar</a>
          </div>
</body>
</html>
