{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar Medida Protetiva</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/register_protective_measure.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMgE8AMbr6ZivZp+AzBuJg7STl5ow5pXkk+1PiD" crossorigin="anonymous" />
    <link rel="icon" href="{% static 'img/logo-brigada-militar.png' %}" type="image/x-icon">
</head>
<body>
    <header class="d-flex justify-content-lg-around h-auto">
        <div class="h-75 w-100 d-flex justify-content-center justify-content-md-center justify-content-sm-center align-items-center flex-md-wrap flex-sm-wrap flex-wrap flex-lg-nowrap text-md-center text-center text-lg-start text-sm-center ps-md-5 ps-sm-5">
            <div style="width: 8%; height: 80%" class="col-md-12 col-sm-12 col-12">
                <img class="h-100 w-100" src="{% static 'img/logo-brigada-militar.png' %}" alt="Logo Brigada Militar" />
            </div>
            <div class="titulo-brigada-militar col-md-12 h-50 d-flex justify-content-center flex-column col-sm-12 col-12 p-lg-3">
                <span>BRIGADA MILITAR</span>
            </div>
        </div>
        <div class="logout" style="width: 30%">
            <a style="cursor:pointer;text-decoration:none " href="{% url 'login' %}">
                <span class="input-group-text bg-transparent border-0 d-flex flex-column " style="background-color: #f5f5f4df; border: none;">
                    <img src="{% static 'img/logout-icon.png' %}" alt="Deslogar" style="width: 40px; height:35px;">
                    <span class="text-light fw-bold">
                        Logout
                    </span>
                </span>
            </a>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg w-100" style="background-color: #d9d9d9">
        <div class="container-fluid">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'img/bars-solid.svg' %}" alt="Menu" class="navbar-toggler-icon" />
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav accordion justify-content-evenly w-100">
                    <li class="nav-item">
                        <a class="nav-link link-atual" href="{% url 'register_protective_measure' %}">CADASTRAR MEDIDA PROTETIVA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register_visit' %}">REGISTRAR VISITA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register_person' %}">CADASTRAR PESSOA E DEFINIR ROTA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'map_direction' %}">DEFINIR ROTA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container container-main w-50 p-5 flex-column">
        <div class="row d-flex flex-column justify-content-center pb-5">
            <div class="col-1 w-100">
                <h1 style="font-size: 20px; font-weight: 600; font-family: 'Inter';" class="pb-2">CADASTRAR MEDIDA PROTETIVA</h1>
                <div class="d-flex">
                    <div class="w-75 rounded" style="border-top: 5px solid #DEC208"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'register_protective_measure' %}">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                             {{message}}
                            </section>
                        {% endfor %}
                    {% endif %}
                    <div class="mb-3">
                        <label for="numero-processo" class="form-label text-black fw-medium">Número do processo:</label>
                        <input type="text" class="form-control border-1 border-dark shadow-sm" id="numero-processo" name="numero_processo" placeholder="Número do processo" required>
                    </div>
                    <div class="mb-3">
                        <label for="numero-documento" class="form-label text-black fw-medium">Número da ocorrência:</label>
                        <input type="text" class="form-control border-1 border-dark shadow-sm" id="numero-ocorrencia" name="numero_ocorrencia" placeholder="Número da ocorrência" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="nome-vitima" class="form-label text-black fw-medium">Nome da vítima:</label>
                            <select class="form-control border-1 border-dark shadow-sm" id="nome-vitima" name="nome_vitima" required>
                                <option value="">Selecione a vítima</option>
                                {% for vitima in vitimas %}
                                    <option value="{{ vitima.id }}">{{ vitima.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="nome-agressor" class="form-label text-black fw-medium">Nome do agressor:</label>
                            <select class="form-control border-1 border-dark shadow-sm" id="nome-agressor" name="nome_agressor" required>
                                <option value="">Selecione o agressor</option>
                                {% for agressor in agressores %}
                                    <option value="{{ agressor.id }}">{{ agressor.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="orgao-expedidor" class="form-label text-black fw-medium">Orgão expedidor:</label>
                        <input type="text" class="form-control border-1 border-dark shadow-sm" id="orgao-expedidor" name="orgao_expedidor" placeholder="Orgão expedidor" required>
                    </div>
                    <div class="mb-3">
                        <label for="tipo" class="form-label text-black fw-medium">Tipo:</label>
                        <input type="text" class="form-control border-1 border-dark shadow-sm" id="tipo" name="tipo" placeholder="Tipo" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="data-registro" class="form-label text-black fw-medium">Data do registro:</label>
                            <input type="date" class="form-control border-1 border-dark shadow-sm" id="data-registro" name="data_registro" required>
                        </div>
                        <div class="col-md-6">
                            <label for="hora-registro" class="form-label text-black fw-medium">Hora do registro:</label>
                            <input type="time" class="form-control border-1 border-dark shadow-sm" id="hora-registro" name="hora_registro" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="data-expiracao" class="form-label text-black fw-medium">Data de expiração:</label>
                            <input type="date" class="form-control border-1 border-dark shadow-sm" id="data-expiracao" name="data_expiracao" required>
                        </div>
                        <div class="col-md-6">
                            <label for="horario-expiracao" class="form-label text-black fw-medium">Horário de expiração:</label>
                            <input type="time" class="form-control border-1 border-dark shadow-sm" id="horario-expiracao" name="horario_expiracao" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="form-frida" class="form-label text-black fw-medium">Form. FRIDA:</label>
                            <select class="form-control border-1 border-dark shadow-sm" id="form-frida" name="form_frida" required>
                                <option value="" selected disabled>Selecione o nível Frida</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="status" class="form-label text-black fw-medium">Status:</label>
                            <select class="form-control border-1 border-dark shadow-sm" id="status" name="status" required>
                                <option value="" selected disabled>Selecione o status</option>
                                <option value="Ativa">Ativa</option>
                                <option value="Inativa">Inativa</option>
                            </select>
                        </div>
                    </div>
                    
                    </div>
                    <div class="buttons mb-3 d-flex justify-content-center col-12 p-5">
                        <button type="submit" class="btn btn-warning border-1 border-dark shadow-sm fw-bold col-lg-4 col-md-5 col-sm-6 me-md-4 me-sm-3">ENVIAR</button>
                        <a href="{% url 'navigation_menu' %}" class="btn border-1 border-dark shadow-sm fw-bold col-lg-4 col-md-5 col-sm-6">CANCELAR</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
