/* CSS Navigation Menu - Cleiton Ferrugem */

.main_menu {
  height: calc(100vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_menu>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  padding-left: 0;
  margin-bottom: 0;

}

.main_menu>ul>li:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.main_menu>ul>li:nth-child(2) {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.main_menu>ul>li:nth-child(3) {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.main_menu>ul>li:nth-child(4) {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.main_menu>ul>li>a:hover {
  filter: drop-shadow(0.7px 0.7px 0.7px rgb(0 0 0 / 0.4));
}

.mobile-icon,
.mobile-text {
  display: none;
}

@media (max-width: 991px) {
  .main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0;
}

.main_menu>ul>li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.main_menu>ul>li>a {
    display: flex;
    align-items: center;
    height: 75px;
    width: 350px;
    border: #555347 solid;
    border-radius: 100px;
}

.main_menu>ul>li>a> {
    display: flex;
    align-items: center;
}

.main_menu>ul>li>a>i {
    display: flex;
}

.main_menu>ul>li>a>i>figure {
    display: contents;
}

.main_menu>ul>li>a>figure {
    display: flex;
}

.main_menu>ul>li>a>figure>img {
    align-items: center;
}

.desktop-img {
    display: none;
}

.mobile-icon,
.mobile-text {
    display: inline-block;
}

.mobile-icon {
    margin-left: 20px;

}

.mobile-text {
    color: #555347;
    font-weight: 600;
    margin-left: 10px;
}

.main_menu_a {
    text-decoration: none;
}

}

/* CSS Navigation Menu - Cleiton Ferrugem */
